.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
	background: #fdf6ed;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
.avatar
  {
  width: 100px;
  height: 130px;
  border: 0px;
  }
img
  {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }